<%= render partial: "layouts/nav_bar" %>
<%= error_messages_for(@cart) %>
<div class="form">
  <h1>Add to your cart</h1>
  <%= form_for(:cart, :url => {:action => 'create'},:class => "text-center border border-light p-5") do |f| %>
    <div class="form-row mb-4">
      <!--Quantity -->
      <%= f.text_field :quantity,:id => "defaultRegisterFormLastName", :class =>"form-control" ,:placeholder =>"Quantity" %>
      <!--Name-->
      <%= f.hidden_field :name, value: params[:name_rec] %>
      <!--Amount-->
      <%= f.hidden_field :amount, value: params[:amount_rec] %>
      <!--RestaurantId-->
      <%= f.hidden_field :restaurant_id, value: params[:restaurant_id] %>
      <!--UserId-->
      <%= f.hidden_field :user_id, value: current_user.id %>
      <br />
      <br />
      <div class="actions">
        <%= f.submit "Add",class: "btn btn-info my-4 btn-block" %>
      </div>
    </div>
  <% end %>
</div>
