
<div class="modal-dialog" role="document">
  <div class="modal-content">
      <div class="modal-header">
        <%= error_messages_for(@restaurant) %>
        <h4 class="modal-title" id="myModalLabel">Add your restaurant</h4>

        <a href="javascript:;" class='close' data-dismiss="modal">x</a>
      </div>
      <div class="modal-body">
      <%= form_for(:restaurant, :url => restaurants_path(@restaurant),remote: true, method: :post, html: {:id=> 'collectdata' , :'data-type' => 'json'}) do |f| %>
      <div class="form">
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </div>
        <br />
        <div class="mySelect">
          <%= f.label :city_id %>
          <%= f.select(:city_id, City.all.collect { |t| [t.name,t.id]}, {default: City.first} ,{class: 'mySelect2'}) %>
        </div>
        <br />
        <script>
          $(".mySelect2").select2({theme: "classic"});
        </script>
        <div class="field">
          <%= f.label :location %><br />
          <%= f.text_field :location %>
        </div>
        <div class="field">
          <%= f.label :rate_for_two %><br />
          <%= f.text_field :rate_for_two %>
        </div>
        <div class="field">
          <%= f.label :image %><br />
          <%= f.file_field :image %>
        </div>
        <div class="field">
          <br />
          <%= f.check_box :vegetarian_tag %>
          <%= f.label :vegetarian_tag %>
        </div>
        <br /><br />
        <%= f.submit "Register restaurant", class: "btn btn-primary", id: 'register' %>
        <% end %>
      </div>
    </div>
    <div class="modal-footer">
      <script>
        $('#register').on('click', function(){
          $("#modal-window").modal("hide");
        });
      </script>
    </div>
  </div>
</div>
