<%= render partial: "layouts/nav_bar_restaurant" %>
<div class="table">
  <h1>Restaurant Details</h1>
  <table class="table" summary="Restaurant detail view" colspan='4'>
    <tr>
      <th>Name</th>
      <td><%= @restaurant.name %></td>
    </tr>
    <tr>
      <th>Location</th>
      <td><%= @restaurant.location %></td>
    </tr>
    <tr>
      <th>City</th>
      <% city=City.find_by_id(@restaurant.city_id) %>
      <% if city.nil? %>
        <td></td>
      <% else %>
        <td><%= city.name %></td>
      <% end %>
    </tr>
    <tr>
      <th>Rating</th>
      <% sum= Review.where(:restaurant_id => @restaurant.id).average(:rating) %>
      <td><%= sum %></td>
    </tr>
    <tr>
      <th>Rate for two</th>
      <td><%= @restaurant.rate_for_two %></td>
    </tr>
  </table>
  <br />
  <%= link_to "Show Menu" , menu_items_path(:restaurant => @restaurant.id),:class => "btn btn-primary btn-lg btn-block" %>
  <% @reviews=Review.where(:restaurant_id => @restaurant.id) %>
  <table class="table">
    <thead>
      <tr><th>Comments</th></tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
        <tr><th><%= review.comment %></th></tr>
      <% end %>
    </tbody>
  </table>
</div>
