<%= error_messages_for(@user)%>
<p id="notice"><%= notice %></p>
<div class="initial_form">



<!-- Default form register -->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :class => "text-center border border-light p-5") do |f| %>

    <p class="h4 mb-4">Sign up</p>

    <div class="form-row mb-4">
        <div class="col">
            <!--Name -->
            <%= f.text_field :name,:id => "defaultRegisterFormLastName", :class =>"form-control" ,:placeholder =>"Name" %>
        </div>
    </div>

    <%= f.email_field :email,:id => "defaultRegisterFormEmail", :class =>"form-control mb-4", :placeholder => "E-mail" %>

    <!-- Password -->
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password,:id => "defaultRegisterFormPassword", :class => "form-control", :placeholder => "Password"  %>
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters and 1 digit
    </small>
    <!-- Password confirmation-->
    <%= f.password_field :password_confirmation, autocomplete: "new-password",:id => "defaultRegisterFormPassword", :class => "form-control", :placeholder => "Password" %>
    <br />
    <!-- Phone number -->
    <%= f.text_field :phone_no, :id => "defaultRegisterPhonePassword", :class => "form-control", :placeholder => "Phone number" %>
    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
        Optional - for two step authentication
    </small>

    <!-- Home address -->
    <%= f.text_field :home_add, :id => "defaultRegisterPhonePassword", :class => "form-control", :placeholder => "Home address" %>
    <br />
    <!-- Work address -->
    <%= f.text_field :work_add, :id => "defaultRegisterPhonePassword", :class => "form-control", :placeholder => "Work address" %>
  </br >
</br>
    <!-- Type of user -->
    <div class="custom-control custom-radio">
    <%= f.radio_button :typeofu, 'restaurant' %> 
  <%= f.label :typeofu, 'Restaurant', :value => 'restaurant' %>
</div>

<div class="custom-control custom-radio">
    <%= f.radio_button :typeofu,  :value => "customer"%>
    <%= f.label :typeofu, 'Customer', :value => 'customer' %>
</div>


    <!-- Sign up button -->
    <%= f.submit "Sign up",class: "btn btn-info my-4 btn-block" %>
<%end%>

<%= render 'devise/shared/links' %>
</div>
<!-- Default form register -->