<!--Displays form to take name and amount of menu_item to be added -->
<!-- Displays validation errors if any (helper written in Application Helper)-->
<%= error_messages_for(@menu_item) %>
<%= render 'layouts/nav_bar' %>
<div class="form">
  <h1>Add item to your menu</h1>
  <%= form_for(:menu_item, :url => {:action => 'create'}) do |f| %>
    <div class="form-row mb-4">
      <!--Name -->
      <%= f.text_field :name,:id => "defaultRegisterFormLastName", :class =>"form-control" ,:placeholder =>"Name" %>
      <!--Amount-->
      <%= f.text_field :amount, :id => "defaultRegisterPhonePassword", :class => "form-control", :placeholder => "Amount" %>
      <br />
      <br />
      <div class="actions">
        <%= f.submit "Add", class: "btn btn-info my-4 btn-block" %>
      </div>
    </div>
  <% end %>
</div>
