<%= render partial: "layouts/nav_bar" %>
<div class="table">
  <h1>Restaurant Details</h1>
  <table class="table" summary="Restaurant detail view" colspan='4'>
    <tr>
      <th>Name</th>
      <td><%= @restaurant.name %></td>
    </tr>
    <tr>
      <th>Location</th>
      <td><%= @restaurant.location %></td>
    </tr>
    <tr>
      <th>City</th>
      <% city=City.find_by(id: @restaurant.city_id) %>
      <% if city.nil? %>
        <td></td>
      <% else %>
        <td><%= city.name %></td>
      <% end %>
    </tr>
    <tr>
      <th>Rating</th>
      <% sum= Review.where(:restaurant_id => @restaurant.id).avg(:rating) %>
      <td><%= sum %></td>
    </tr>
    <tr>
      <th>Rate for two</th>
      <td><%= @restaurant.rate_for_two %></td>
    </tr>
  </table>
  <br />
  <h1>Menu Items</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @menu_items.each do |menu_item| %>
      <tr>
        <td><%= menu_item.name %></td>
        <td><%= menu_item.amount %></td>
        <!-- On click adds the item to the cart of the customer-->
        <td><%= link_to 'Add',  new_cart_path(:restaurant_id => menu_item.restaurant_id,:amount_rec => menu_item.amount, :menu_item_id_rec => menu_item.id, :name_rec => menu_item.name),:class => "badge badge-light" %></td>
      </tr>
    <% end %>
    <tr>
      <!-- Redirects to page where customer confirms order-->
      <td><%= link_to 'Show cart', new_order_path(:restaurant_id => @restaurant.id),class: 'btn btn-primary btn-lg' %></td>
    </tr>
  </tbody>
</table>
  <% @reviews=Review.where(:restaurant_id => @restaurant.id) %>
  <table class="table">
    <thead>
      <tr><th>Comments</th></tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
        <tr><th><%= review.comment %></th></tr>
      <% end %>
    </tbody>
  </table>
</div>
